{
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "globals": {
    "chrome": true,
    "self": true
  },
  "rules": {
    "arrow-parens": 0,
    "linebreak-style": ["error", "windows"]
  }
}
