// Base
$container: '._2sdm';
$inner_container: '._4sp8';

// Type
$type_primary: '._39r6';
$type_secondary: '._39r7';

// Content
$content: '._1q5-';
$content_header: '._5742';
$content_header_text: '._17w2';
$content_header_subtext: '._2v6o, ._5eu7';

// Sidebar
$sidebar: '._1enh';
$sidebar_header: '._36ic';
$sidebar_input: '._5iwm ._58al';
$sidebar_title: '._225b';

// Chat
$chat_timestamp: '._497p';
$chat_bubble_other: '._hh7';
$chat_bubble_self: '._nd_ ._hh7';
$chat_img_bubble: '._5i_d';
$chat_img_bubble_title: '.__6k';
$chat_img_bubble_body: '.__6l';
$chat_img_bubble_source: '.__6m';
$chat_message_bar: '._4rv3';

// User
$user_item: '._1ht1';
$user_small_item: '._5l37';
$user_name: '._1ht6';
$user_message: '._1htf';
$user_timestamp: '._1ht7';
$user_small_name: '._364g';

// Dialog
$dialog_body: '._53ij';
$dialog_nib: '._53io';
$dialog_selected: '._1uwz';
$header_block: '._56jc';
